<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jumia Hybrid Suite" parallel="false">
    <test name="Regression Tests">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.yourcompany.tests.login.LoginTests"/>
            <class name="com.yourcompany.tests.cart.CartTests"/>
            <class name="com.yourcompany.tests.search.SearchTests"/>
            <class name="com.yourcompany.tests.register.RegisterTests"/>
            <class name="com.yourcompany.tests.logout.LogoutTests"/>
        </classes>
    </test>
</suite>
